{% extends "layout.html" %}
{% block body %}
    <div class="h-dvh flex justify-center items-center">
        <div id="signup-container">
            {% include "partials/signup_form.html" %}
            <div class="divider"></div>
            <div class="flex justify-center items-center gap-1">
                <p class="text-sm">Alread Have an Account?</p>
                <a href="{% url "account:login" %}" class="btn btn-link p-0">Login</a>
            </div>
        </div>
    </div>
{% endblock body %}
