<div id="day-content" class="px-8 pt-8 flex flex-col gap-8">
  {% comment %} header {% endcomment %}
  <div class="flex flex-col w-full">
      <h1 class="break-all text-3xl sm:text-4xl md:text-5xl font-extrabold tracking-tighter {% if not day.title %}italic{% endif %}">{{ day.title|default:"Untitled"|upper }}</h1>
      <div class="flex justify-between items-center">
        <p class="text-base-content/60">{{ day.date|date:"l, F jS" }}</p>
        <button class="btn btn-ghost btn-xs w-fit">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
          <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
        </svg>
        </button>
      </div>
    </div>
    <div 
      class="border border-base-300 rounded-xl shadow shadow-base-300 p-6 flex flex-col gap-5"
      hx-get="{% url "core:task-list" day.id %}"
      hx-trigger="load, taskCreated from:body"
      hx-swap="innerHTML"
      hx-target="#task-list"
      hx-indicator="#loading-task-list"
      >
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <h1 class="text-xl font-bold text-start">Day Tasks</h1>
          {% comment %} <div class="badge badge-primary badge-outline rounded hover:badge-soft transition">counter: {{ day.tasks|length }}</div> {% endcomment %}
        </div>
        <div class="divider before:h-px after:h-px my-0 "></div>
      </div>
      <div id="task-list">
        <div id="loading-task-list" class="htmx-indicator"> 
          loading...
        </div>
      </div>
      <button onclick="createtaskdialog.showModal()" class="btn btn-dash border-base-content/50 text-base-content/50 hover:text-primary hvoer:border-primary">+ ADD TASK</button>
    </div>
    <dialog id="createtaskdialog" class="modal"
            hx-on:close-dialog="this.close()">
        <div class="modal-box w-fit">
            <div class="flex justify-between items-center">
                <h1 class="font-bold">Create New Task</h1>
                <form method="dialog">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </form>
            </div>
            {% include "partials/create_task_form.html" %}
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
</div>