<div class="px-8 pt-8 flex flex-col gap-8 w-full">
    {% comment %} Header Skeleton {% endcomment %}
    <div class="flex flex-col w-full gap-4">
        <div class="skeleton h-10 w-3/4 sm:h-12 md:h-14"></div>
        <div class="flex justify-between items-center">
            <div class="skeleton h-4 w-40"></div>
            <div class="skeleton h-6 w-6 rounded-full"></div>
        </div>
    </div>

    {% comment %} Tasks Card Skeleton {% endcomment %}
    <div class="border border-base-300 rounded-xl shadow shadow-base-300 p-6 flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <div class="flex justify-between">
                <div class="skeleton h-6 w-32"></div>
            </div>
            <div class="divider before:h-px after:h-px my-0"></div>
        </div>
        
        <div class="flex flex-col gap-4">
            <div class="flex items-center gap-4">
                <div class="skeleton h-5 w-5 shrink-0 rounded"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
            <div class="flex items-center gap-4">
                <div class="skeleton h-5 w-5 shrink-0 rounded"></div>
                <div class="skeleton h-4 w-5/6"></div>
            </div>
            <div class="flex items-center gap-4">
                <div class="skeleton h-5 w-5 shrink-0 rounded"></div>
                <div class="skeleton h-4 w-4/6"></div>
            </div>
        </div>

        <div class="skeleton h-12 w-full rounded-lg mt-2"></div>
    </div>
</div>
