<div id="task-{{ task.id }}"
     class="flex items-center justify-between group">
    <div class="flex items-center gap-5">
        <input type="checkbox"
               class="checkbox checkbox-primary rounded checkbox-sm"
               {% if task.is_complete %}checked{% endif %}
               hx-post="{% url 'core:task-toggle' task.id %}"
               hx-trigger="change"
               hx-target="#task-{{ task.id }}"
               hx-swap="outerHTML"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <h4 class="font-bold text-base-content {% if task.is_complete %}line-through opacity-50{% endif %}">
            {{ task.title|upper }}
        </h4>
    </div>
    <button class="btn btn-ghost btn-xs text-error opacity-0 group-hover:opacity-100 transition"
            hx-post="{% url 'core:task-delete' task.id %}"
            hx-confirm="Delete this task?"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 16 16"
             fill="currentColor"
             class="size-4">
            <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.712Z" clip-rule="evenodd" />
        </svg>
    </button>
</div>
