{% load widget_tweaks %}
<form
  id="create-task-form"
  hx-post="{% url "task-create" day.id %}"
  hx-target="#create-task-form"
  hx-swap="outerHTML"
  hx-on:day-created="this.reset()"
>
  {% csrf_token %}
  <fieldset class="fieldset w-80">
      {% for field in task_form %}
          <fieldset class="fieldset">
              <legend class="fieldset-legend">{{ field.label }}</legend>
              {{ field|add_class:"input validator" }}
          </fieldset>
          {% if field.errors %}
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>
                  {{ field.errors }}</span>
            </div>
          {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-1">Create</button>
  </fieldset>
</form>