{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src={% static "js/nprogress.js" %} defer></script>
        <link rel="stylesheet" href={% static "css/tailwind.dist.css" %}>
        <link rel="stylesheet" href={% static "css/nprogress.css" %}>
        <title>DailyLog</title>
        <style>[x-cloak] { display: none !important; }</style>
    </head>
    <body class="bg-background">
        {% block body %}
        {% endblock body %}
        <script src={% static "js/htmx.min.js" %}></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.addEventListener('htmx:confirm', function(evt) {
                if (evt.target.hasAttribute('hx-confirm')) {
                    evt.preventDefault();
                    
                    const targetDialog = evt.target.closest('dialog');
                    
                    Swal.fire({
                        title: 'Are you sure?',
                        theme: 'dark',
                        text: evt.target.getAttribute('hx-confirm'),
                        icon: 'question',
                        target: targetDialog || 'body',
                        showCancelButton: true,
                        confirmButtonColor: '#ef4444', 
                        cancelButtonColor: '#6b7280',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Issue the request using the original event detail function
                            evt.detail.issueRequest(true);
                        }
                    });
                }
            });
        </script>
        {% if messages %}
            <script>
            {% for message in messages %}
                Swal.fire({
                    icon: "{{ message.tags }}",
                    title: "{{ message.tags|title }}",
                    text: "{{ message }}",
                    timer: 5000,
                    showConfirmButton: false,
                    toast: true,
                    position: 'bottom-end',
                    timerProgressBar: true,
                });
            {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
