<div id="day-list-skeleton"
     class="htmx-indicator flex w-full flex-col gap-7 h-full">
    <div class="flex justify-between gap-4">
        <div class="skeleton h-5 flex-1 bg-base-300"></div>
        <div class="skeleton h-5 w-10 bg-base-300"></div>
    </div>
    <div class="flex justify-between gap-4">
        <div class="skeleton h-5 flex-1 bg-base-300"></div>
        <div class="skeleton h-5 w-10 bg-base-300"></div>
    </div>
    <div class="flex justify-between gap-4">
        <div class="skeleton h-5 flex-1 bg-base-300"></div>
        <div class="skeleton h-5 w-10 bg-base-300"></div>
    </div>
    <div class="flex justify-between gap-4">
        <div class="skeleton h-5 flex-1 bg-base-300"></div>
        <div class="skeleton h-5 w-10 bg-base-300"></div>
    </div>
    <div class="flex justify-between gap-4">
        <div class="skeleton h-5 flex-1 bg-base-300"></div>
        <div class="skeleton h-5 w-10 bg-base-300"></div>
    </div>
</div>
