<form id="login-form"
      hx-post="{% url 'account:login' %}"
      hx-target="#login-form"
      hx-swap="outerHTML"
      x-data="{loading: false}"
      @htmx:before-request="loading = true"
      @htmx:after-request="loading = false">
    {% load widget_tweaks %}
    {% csrf_token %}
    <div class="flex flex-col gap-3">
        {% if form.non_field_errors %}
            <c-errMsg>
            {{ form.non_field_errors }}
            </c-errMsg>
        {% endif %}
        {% for field in form %}
            {% if field.name == "password" %}<c-passField :field="field" />{% else %}<c-fieldset :field="field" />{% endif %}
        {% endfor %}
        <button class="bg-primary text-primary-foreground rounded p-2 w-full mt-4" :disabled="loading">
            <span x-show="!loading">Login</span>
            <span x-show="loading">Logging in...</span>
        </button>
    </div>
</form>
