<dialog {{ attrs }} class="modal" hx-on:close-dialog="this.close()">
    <div class="modal-box w-fit p-0 m-0">
        <div class="flex justify-between items-center bg-base-200 p-5">
            <h1 class="font-bold">{{ title }}</h1>
            <form method="dialog">
                <button class="btn btn-ghost btn-circle btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="divider h-px before:h-px after:h-px m-0 p-0"></div>
        <div class="p-5">
            {{ slot }}
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>