{% load widget_tweaks %}
<fieldset class="flex flex-col gap-1 flex-1" x-data="{ show: false }">
    <label class="text-primary font-bold text-sm" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <label class="border-border border rounded w-full flex justify-between items-center bg-input p-2 text-primary">
        <input :type="show ? 'text' : 'password'"
               placeholder="••••••"
               name="{{ field.name }}"
               class="focus:outline-0 text-primary"
               id="{{ field.id_for_label }}"
               required>
        <button class="rounded-full h-fit w-fit p-1 hover:bg-secondary"
                type="button"
                @click="show = !show">
            <span x-cloak x-show="show">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="1.25"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="lucide lucide-eye-icon lucide-eye">
                    <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                    <circle cx="12" cy="12" r="3" />
                </svg>
            </span>
            <span x-show="!show">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="1.25"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="lucide lucide-eye-closed-icon lucide-eye-closed">
                    <path d="m15 18-.722-3.25" />
                    <path d="M2 8a10.645 10.645 0 0 0 20 0" />
                    <path d="m20 15-1.726-2.05" />
                    <path d="m4 15 1.726-2.05" />
                    <path d="m9 18 .722-3.25" />
                </svg>
            </span>
        </button>
    </label>
    {% if field.errors %}
        <c-errMsg>
        {{ field.errors }}
        </c-errMsg>
    {% endif %}
</fieldset>
