{% load widget_tweaks %}
<form id="signup-form"
      hx-post="{% url 'account:signup' %}"
      hx-target="#signup-form"
      hx-swap="outerHTML"
      x-data="{loading: false}"
      @htmx:before-request="loading = true"
      @htmx:after-request="loading = false">
    {% csrf_token %}
    <div class="flex flex-col gap-3">
        {% if form.non_field_errors %}
            <c-errMsg>
            {{ form.non_field_errors }}
            </c-errMsg>
        {% endif %}
        {# First And Last Name Fields #}
        <div class="flex gap-3">
            {% for field in form %}
                {% if field.name == "first_name" or field.name == "last_name" %}<c-fieldset :field="field" />{% endif %}
            {% endfor %}
        </div>
        {# Username Field #}
        {% for field in form %}
            {% if field.name == "username" %}
                <c-fieldset :field="field" />
            {% endif %}
        {% endfor %}
        {# The Rest of Other Fields #}
        {% for field in form %}
            {% if field.name == "password" or field.name == "confirm_password" %}<c-passField :field="field" />{% endif %}
        {% endfor %}
        <button class="bg-primary text-primary-foreground rounded p-2 w-full mt-4" :disabled="loading">
            <span x-show="!loading">Create An Account</span>
            <span x-show="loading">Creating...</span>
        </button>
    </div>
</form>
